@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: hsl(0, 0%, 0%);
        --color-text-base: hsl(0, 0%, 21%);
        --color-secondary: hsl(0, 0%, 50%);
        --color-bg-primary: hsl(0, 0.00%, 90.60%);
        --color-btn-accept:hsl(118, 100.00%, 25.10%);
        --color-btn-reject: hsl(0, 100.00%, 50.60%);

    }
     body {
        font-weight: 400;
        background-color: var(--color-bg-primary)
        
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
      }
}